.register-container {
    background-color: white;
    border: 1px solid #00000030;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}
