/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: Jokerman;
    src: url(Jokerman.ttf);
}

@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}
h2{
    font-family: Jokerman;
}

body {
    font-family: Inter
}

:root {
    --bagroundColor: #FFFDFC;
    --color1: #FF7B00;
    --color2: #64380E;
    --color3: #ffc79c;
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.font-title {
    font-family: Jokerman;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.home-link {
    text-shadow: -1px 1px black;
}


.about-icon{
    font-family: Jokerman;
    font-size: 200px;
    color: white;
    text-shadow: -8px 8px var(--color1) ;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.non-decoration {
    text-decoration: none !important;
}

.nav-icon-link {
    font-size: large;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin-left: 3px;
}

.notification-nr {
    top: 2px;
    left: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50%;
    display: block;
    background-color: var(--color1);
    color: white;
    outline: 2px solid white;
}

.nav-icon-link:hover {
    background-color: #ffc79c;
    color: white !important;
}

.pointer {
    cursor: pointer;
}
/*-------------------- bootstrap override ------------------------*/
.navbar-brand {
    font-family: Jokerman;
    font-size: 30px;
    color: var(--color1) !important;
    margin-right: 110px
}

    .navbar-brand span {
        background-color: brown;
        position: relative;
    }

    .navbar-brand .logo-img {
        top: -7px;
        left: 10px;
        position: absolute;
        height: 60px;
    }

html {
    background-color: var(--bagroundColor);
}

body {
    background-color: var(--bagroundColor);
}
