@using BigEvent.ViewModel
@model GalleryPartialViewModel


<div id="gallery-bg" class="gallery-bg">

    <div class="gallery-container">
        <div class="gallery-frame">

            <div class="gallery-head">
                <div class="galleryTitle text-center font-title">
                    Chose Picture
                    <button class="close-gallery" onclick="closeGalleryPicker()">X</button>
                </div>
            </div>
            <div class="scroll-div">
                <div class="gallery-content">


                    @foreach (var item in Model.Images)
                    {
                        var activeClass =
                        (item.ImageId == Model.ChosenPictureId) ? "chosen-img" : "";

                        var imgId = "galleryImg" + item.ImageId;

                        <div id=@imgId class="gallery-picture-container @activeClass"
                         data-pictureId=@item.ImageId
                         data-pictureSrc=@item.Src
                         data-pictureName=@item.Name
                         onclick="chooseImage(this)">
                            <div class="m-auto">
                                <img class="img-center " src="@item.Src" alt="@item.Name" style="width:100%" />
                            </div>
                            <div class="gallery-picture-title">
                                @item.Name
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>

    </div>
</div>