@using BigEvent.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item  nav-icon-link">
             
            <a class="nav-link text-dark" asp-controller="Messages" asp-action="Notification" title="Manage">
                
                <i class="bi bi-bell-fill"></i>
                <span class="notification-nr">9</span>
            </a>
        </li>
        <li class="nav-item nav-icon-link">
             
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="bi bi-person-fill"></i>

            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    Logout
                    <i class="bi bi-box-arrow-right"></i>
                </button>
            </form>
        </li>


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register/AppUser">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
