@using System.Globalization
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section StyleCssPartial
{<link rel="stylesheet" href="~/css/calendar.css"  >}
@section ScriptsPartial
{<script type="text/javascript" src="~/js/calendar.js" async></script>}

<h2>Calendar2222</h2>
@{  
    var daysInWeek= new[] {"Sun",
        "Mon",
        "Tue",
        "Wed",
        "Thu",
        "Fri",
        "Sat"};

    var currentMonth = DateTime.Today.Month;
    
    
}

<div id="calendar">
    <div class="calendar-header">
        <span id="monthName"></span>
        <span id="yearNr"></span>
        
        <span class="float-right mx-3">
            <i id="previousMonthButton" class="bi bi-caret-left-fill arrow-button" style="cursor: pointer"></i>
            <i id="nextMonthButton" class="bi bi-caret-right-fill arrow-button" style="cursor: pointer; margin-left: -7px"></i>
        </span>
    </div>
    <div class="calendar-weekdays">
        
        @{
            foreach (var item in daysInWeek)
            {
                <div class="calendar-weekday">@item</div> 
            }
        }
        
    </div>
    <div class="calendar-days">
        @{
            for (int i = 0; i < 7*6; i++)
            {
                var recordId = "calRecord" + i;
                <div id=@recordId class="calendar-day">
                    
                </div>
            }
        }
    </div>
</div>

<div class="mt-5">
    <div class="mb-2"> legenda :</div>
    <div>
        <div class="legend-box current-day-box"></div> today
    </div>
    <div>
        <i class="bi bi-star-fill"></i> one event
    </div>
    <div>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        two events
    </div>
    <div>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        three or more events
    </div>

</div>
