@model dynamic

@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="row">
    
    <div class="col-md-6">
        <div>
            <h3>About</h3>
            <p>
                BigEvent is demo app when organizers can add events and users can save and see them in calendar.
                <br/>
                It is a part of <a href="https://igor-kozerski.com/">Igor Kozerski Portfolio</a>. 
            </p>

            <h3>Used Technologies:</h3>
            <ul>
                <li>Asp.net Core</li>
                <li>Bootstrap</li>
                <li>Inkscape</li>
            </ul>
            
            <h3>Links:</h3>
            @{
                //todo links to portfolio and tp
            }
            <ul>
                <li>
                    <a href="https://github.com/iks25/BigEvent">
                        SourceCode (gitHub)
                    </a>
                </li>
               <li>
                   <a href="https://igor-kozerski.com/">
                       Igor Kozerski Portfolio
                   </a>
               </li>
           </ul> 
            <h3>Contact:</h3>
            <ul>
                    <li>tel: +44 7871 245752</li>
                    <li>email: igor.kozerski@gmail.com</li>
            </ul> 
            
        </div>
   

        
    </div>     
    
    
    
    <div class="col-md-5 p-5">
        <img src="~/icons/about.svg" alt="about icon" width="200px"/>
    </div>
</div>
