@{
    ViewData["Title"] = "Home Page";
}

@section StyleCssPartial{
<link rel="stylesheet" href="~/css/gallery.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="gallery-bg">

    <div class="gallery-container">
        <div class="gallery-frame">

            <div class="gallery-head">
                <div class="galleryTitle text-center font-title">
                    Chose Picture
                    <button class="close-gallery">X</button>
                </div>
            </div>
            <div class="scroll-div">
                <div class="gallery-content">

                    @*==========================*@
                    <div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div>

                    @*==========================*@

                    <div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div>
                    <div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div>
                    <div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div>
                    <div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div>
                    <div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div>
                    <div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div><div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div><div class="gallery-picture-container">
                        <div class="m-auto">
                            <img class="img-center" src="~/imagesGallery/busness.jpg" alt="busness" width="100%" />
                        </div>
                        <div class="gallery-picture-title">
                            business
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>