@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 font-title welcome ">Welcome In Big Event</h1>
    <hr/>
    <div class="col-7 text-left">
        <h3 >
            BigEvent is demo app when organizers can add event and user can save and see in calendar
        </h3>
    </div>
</div>

